@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Yeseva+One&display=swap');

.body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-weight: 400;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.slider {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 420px;
}

.slider__content {
    height: auto;
    position: relative;
}

.slider__title {
    max-width: 50%;
    margin-top: 0;
}

.slider__text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 21px;
}

.slider__names {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    border: 1px solid black;
    width: 51%; /*изменено */
    margin-top: 0;
    margin-left: 43%;
}

.slider__names_item {
    margin-right: 46px; /*изменено */
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider__names_link {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    padding-top: 6.7px;
    padding-bottom: 6.7px;
}

.slider__names_link.active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.slider__details {
    display: flex;
    max-height: 482px; /* изменено */
    margin: 0 auto;
    margin-top: 45px;
}

.slider__details_info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 35%;
    margin-right: 3%; /* изменено */
    margin-left: inherit; /* добавлено */
}



.slider__params {
    padding-top: 21px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
}

.slider__params dd {
    margin-left: 0;
}

.slider__params_block {
    flex: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__params_title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.slider__arrows {
    display: flex;
    align-self: flex-start;
}

.slider__arrow {
    cursor: pointer;
  }

.slider__arrows__item {
    margin-right: 30px;
}

.slider__details_info > div:nth-last-child(2) {
    flex: 1;
} 

.mobile-buttons {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    left: 3%;
    bottom: 44%;
    height: 6%;
}

.mini-button {
    display:none;
}

.slider__photos {
    max-width: 100%;
    margin-left: auto;
    margin-right: inherit; 
  }

.slider__photos-title {
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 7px 0;
  }
  


.slider__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .slider__dots-item {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: background 0.4s ease;
  }

  .slider__dots-item:hover, .slider__dots-item.active {
    background: #fff;
  }

  @media screen and (min-width: 375px) and (max-width: 768px) {
    .content {
        max-width: 90%;
    }

    .title {
        text-align: center;
        margin: auto;
        display: block;
    }

    .slider {
        padding-top: 20px;
    }

    .slider__content {
        display: flex;
        flex-direction: column;
    }

    .slider__details {
        flex-direction: column;
        max-height: 100%;  
        margin-top: 15px;
        position: relative;
    }

    .slider__title {
        order: 1;
    }

    .slider__details_info {
        width: 100%;
    }

    .slider__photos {
        display: block;
        max-height: 584px;
        margin-top: 83%;
        position: absolute;
        order: 3;
    }
    
    .slider__photo {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
    }

    .slider__arrows_mobile {
        bottom: 42%;
        height: 15%;
    }

    .mini-button {
        display:inline-block;
        cursor: pointer;
    }

    .slider__params {
        margin-top: 80%;
        order: 4;
    }

    .slider__params_block {
        margin-bottom: 30px;
    }

    .slider__text {
        margin-top: 50px;
        margin-bottom: 65px;
        text-align: center;
        order: 2;
    }

    .slider__params_title {
        text-align: left;
    }

    .slider__names, .slider__dots, .slider__arrows {
        display: none;
    }

    
  }